@media screen and (max-width: 576px){
    .nav-links{
        display: none;
    }
    .hambergur{
        display: block;
    }
    .banner{
        flex-direction: column;
    }
    .header-container{
        width: 400px;
    }
    .navbar{
        width: 100%;
    }
    /* habit section start here */
    .habit-parent-container{
        width: 400px;
    }
    .habit-img-container{
        flex-direction: column;
        align-items: center;
    }
    .habits-text-container{
        width: 100%;
    }
    .habits-text-container h1{
        font-size: 32px;

    }
    /* running container start here */
    .running-container{
        flex-direction: column;
        width: 400px;
        gap: 5px;
        
    }
    .run-text-content{
        padding-bottom: 0px;
    }
    /* Training section start here */
    .img-3{
        display: none;
    }
    .img-6{
        display: none;
    }
    .img-1{
        width: 200px;
    }
    .img-2{
        width: 180px;
    }
    .img-4{
        width: 180px;
    }
    .img-5{
        width: 200px;
    }
    .trainer-box{
        height: 130px;
        background-position: center;
    }
    .exercise-text-content{
        width: 400px;
    }
    .exercise-text-content h4{
        font-size: 36px;
        font-weight: 900;
    }
    .exercise-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    /* meet img content */
    .meet-img-content{
        grid-template-columns: repeat(1, 1fr);
        width: 400px;
    }
    .meet-img{
        width: 313px;
        height: 272px;
    }
    .meet-text-content{
        width: 400px;
        margin: 0px;
    }

    /* calcutr section  */
    .calculator-box{
        flex-direction: column;
        width: 400px;
        padding: 10px;
    }
    .input-area input{
        width: 30%;
    }
    .btn-calcult{
        width: 224px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .calculator-text-content{
        width: 400px;
        height: 100%;
        /* margin: 0px; */
        
    }

    /* footer section  */
    .footer-section-container{
        flex-direction: column;
        width: 400px;
    }
    .hr-tag{
        width: 90%;
        margin: 0 auto;
    }
    
}