@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
}
body{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
}

.brand {
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.8rem;
}

.text-yellow {
    background: rgb(230, 83, 60);

}
.home{
    color: white;
}

.text-white {
    color: rgb(255, 255, 255);
}

.text-gray {
    color: grey;
}

.bg-color {
    background: rgb(0, 0, 0)
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    /* margin-right: 30px; */
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px 8px;
}
.nav-link {
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 39px;
}
.nav-link:hover{
    background: rgb(230, 83, 60);
    
}
.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.495);
    border-radius: 20px;
    padding: 0px;
}
.hambergur{
    display: none;
}

/* .navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
} */

.banner {
    display: flex;
    gap: 165px;
    


}
.banner-text-content{
    width: 520px;
    margin-top: 100px;
    
}

.shape{
    font-family: "Dancing Script", cursive;

}



.banner-title {
    font-weight: 900;
    font-size: 4.8rem;
    color: rgb(255, 255, 255);
    line-height: 120%;
    margin-bottom: 28px;

}
.banner-description{
    margin-bottom: 28px;
}

.btn-primary {
    /* position: static; */
    width: 224px;
    height: 54px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    margin-right: 8px;
    border: none;
}

.btn-primary2 {
    /* position: static; */
    width: 224px;
    height: 54px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
}

.btn-card {
    /* background-color: rgba(48, 48, 48, 0.54); */
    box-sizing: border-box;
    width: 206px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
     padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
     padding-right: 20px;
     top: 450px;
     left: -130px;
     justify-content: center;
     align-items: center;
}
.button-p{
    margin: 0px;
}
.number {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    /* line-height: 24px; */
    letter-spacing: 0.3px;
    text-align: left;
    /* margin: 0 auto; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.circle {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 30px;
    margin-right: 10px;
    margin-top: 2px;
}

.btn-card-2 {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 1, 1, 0.849);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    padding-left: 24px;
    
    padding-bottom: 15px;
    padding-right: 15px;
    position: absolute;
    top: 120px;
    right: -70px;
    
}

.number-2 {
    width: 116px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 2.5rem;
    border: none;
    position: relative;


}
.img-part{
    width: 349px;
    height: 100%;
    position: relative;

}

/* habits part start */

.habits-container {
    /* border: 2px solid red; */
}

.habits-text-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 58px 0px;
}

.habits-text-container h1{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.habits-text-container p {
    text-align: center;
}

.habit-img-container {

    justify-content: center;
    gap: 50px;
    
}

.display-sizing {
    width: 1044px;
    margin: 0 auto;
}

.img-content{
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.img-content img{
    width: 180px;
    height: 180px;
    /* border: 1px solid red; */
    border-radius: 50%;
}

.img-content h4 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.img-content p {
    font-weight: 400;
    font-size: 14px;
}

/* 3rd section css */

.running-container {
    display: flex;
    gap: 100px;
    width: 95%;
    height: 100%;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 100px;
}

.run-text-content {
    padding-left: 54px;
    padding-top: 41.5px;
    padding-bottom: 40.5px;
    
}

.run-text-content h3 {
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin: 14px 0;
}

.run-paragrph {
    margin-top: 14px 0;
}

.btn-join-now {
    margin-top: 34px;
}

.run-img-content img {
    width: 366px;
    height: 312px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 20px;
}

/* 4th section css */

.exercise-container {
    /* border: 1px solid red; */
    margin-top: 100px;
}

.exercise-text-content h4{
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: 14px;
    margin-bottom: 14px;
}

.exercise-img-content {
  display: flex;
  
}

.exercise-img-container{
    display: flex;
    flex-direction: column;
}

.exercise-img-container h3{
    color: white;
}
.trainer-box {
    height: 200px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-position: center;
}



.img-1 {
    width: 230px;
    background-image: linear-gradient(90deg, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url("../assets/exercise1.jpg");

}

.img-2 {
    width: 450px;
    background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url("../assets/exercise2.png");
}

.img-3 {
    width: 260px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/exercise3.png");
    
}

.img-4 {
    width: 390px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../assets/exercise4.png");
}

.img-5 {
    width: 230px;
    background-image: linear-gradient(90deg, rgba(66, 255, 0, 0.3),rgba(66, 255, 0, 0.3),rgba(66, 255, 0, 0.3)), url("../assets/exercise5.jpg");
}

.img-6 {
    width: 330px;
    background-image: linear-gradient(90deg, rgba(0, 71, 255, 0.3),rgba(0, 71, 255, 0.3),rgba(0, 71, 255, 0.3)), url("../assets/exercise6.jpg");
}


/* 5th section css */

.calculator-container {
    width: 100%;
    background-color: rgb(34, 34, 34);
    height: 300px;
}

.calculator-text-content {
    width: 671px;
    height: 120px;
    margin-bottom: 88px;
}

.calculator-text-content h1{
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
}

.calculator-box {
    /* border: 1px solid rebeccapurple; */
    display: flex;

}

.calculator-box h2{
    width: 443px;
    height: 34px;
    color: rgb(255, 255, 255);
}

.calculator-table-content{
    color: rgb(255, 255, 255);
}

.calculator-table-content table{
    border: 1px solid gray;
    border-collapse: collapse;
    
}
.calculator-table-content th, tr, td{
    width: 40%;
    height: 30px;
    /* margin: auto; */
    border: 1px solid gray;
 
    text-align: left;
    padding-left: 18px;

}

.calculator-table-content td{
    font-size: 12px;
    font-weight: 300;
}

.calculator-table-content th{
    font-size: 14px;
    font-weight: 400;
    
}


.input-area input, .gender, .activity{
    /* height: 48px; */
    width: 35%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 12px 40px 12px 20px;
}
.gender{
    width: 45%;
}
.activity{
    width: 92%;
}

/* 6th section scc start  */

.meet-section-container{
    /* border: 1px solid red; */
    margin-top: 88px;
    margin-bottom: 88px;
}

.meet-img-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background: rgba(255, 255, 255, 0.1);
    
}

.meet-img{
    background-image: url("../assets/trainer1.png");
    /* width: 30%; */
    height: 272px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    margin: 20px;
    padding: 5px;
    
}

.meet-text-content{
    width: 68%;
    text-align: center;
    margin-bottom: 78px;
}
.meet-text-content h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;


}
.meet-img h4{
    margin-bottom: 1px;
}
.meet-img-2{
    background-image: url("../assets/trainer2.png");
}
.meet-img-3{
    background-image: url("../assets/trainer3.png");
}
.meet-img-4{
    background-image: url("../assets/trainer4.png");
}
.meet-img-5{
    background-image: url("../assets/trainer5.png");
}
.meet-img-6{
    background-image: url("../assets/trainer6.png");
}

/* 7th sextion start  */

.footer-section-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}

footer{
    /* border: 1px solid red; */
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-text-content{
    width: 45%;
}

.footer-text-content h2{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 2px;
}

.footer-section-1 h4{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-section-2 h4{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-link li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    /* margin: 0px 10px; */
    /* padding-bottom: 10px; */

}
.footer-link li{
    list-style: none;
    margin-bottom: 10px;
}

.brand-2{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.8rem;
    margin-top: 30px;
}
.hr-tag{
    background-color: gray;
    

}

.footer-right{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0px;
    padding: 20px 0px;
}


